---
# This template will provide the output for configuration run for provide
# It will be stored as an encypted file in the secure directory or in an IdM Vault

yubikey_info:
  piv_device_type: "{{ piv_device_type }}"
  piv_device_serial: "{{ piv_device_serial }}"
  piv_device_fw_ver: "{{ piv_device_fw_ver }}"
  piv_device_formfactor: "{{ piv_device_formfactor }}"
  piv_device_if_usb: "{{ piv_device_if_usb }}"
  piv_device_nfc_enabled: "{{ piv_device_nfc_enabled }}"
  piv_device_ch_principal: "{{ piv_device_ch_principal }}"
  piv_chuid: "{{ piv_chuid }}"
  piv_ccc: "{{ piv_ccc }}" 
  piv_management_key: "{{ piv_management_key }}"
  piv_initial_pin: "{{ piv_initial_pin }}"
  piv_initial_cert_serial: "{{ piv_initial_cert_serial }}"
